.left {
    width: 20%;
    margin: 0;
    position: fixed;
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: black;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}

.chirik-additions {
    border: 0 white solid;
    border-radius: 15px;
    font-size: 15px;
}

.chirik-additions > a > i {
    color: tomato;
    text-decoration: none;
    border: 0 solid white;
    border-radius: 500px;
    padding: 3px 5px 3px 5px;
}

.chirik-additions > a:hover > i {
    background-color: rgba(255, 160, 122, 0.3);
}

.top {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.bar {
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: grey;
}

.right {
    position: relative;
    width: 30%;
    left: 70%;
    top: 53px;
}
@media only screen and (max-width: 1000px) {
    .right {
        display: none;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
}

.relevant {
    width: 80%;
    position: sticky;
}

.box {
    border: 0 rgba(128, 128, 128, 0.4) solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    background-color: rgba(255, 99, 71, 0.1);
    margin-bottom: 15px;
}

.popular-hashtags{
    position: relative;
    border-top: 1px rgba(128, 128, 128, 0.3) solid;
    padding: 0;
    margin: 0;
}

.popular-hashtags > li{
    list-style-type: none;
    border-bottom: 1px rgba(128, 128, 128, 0.3) solid;
    height: auto;
    padding: 3px 0 3px 10px;
    font-size: 15px;
}

.left-align{
    text-align: left;
    padding-left: 10px;
}

.counter{
    font-size: 13px;
    color: rgba(128, 128, 128, 0.68);
    padding-right: 5px;
}

.center {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 45%;
    margin-left: 23%;
    border: 1px solid grey;
    border-top: 0;
    border-collapse: collapse;
    margin-top: 50px;
}

.poll-content {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}

.chirik-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 12px;
    width: 100%;
    height: auto;
}

.chirik-post {
    border-collapse: collapse;
    border: 0 solid grey;
    border-bottom-width: 1px;
    height: auto;
    padding-bottom: 7px;
}

.chirik-field {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 12px;
}

.chirik-indentification {
    display: flex;
    justify-content: space-between;
    height: auto;
    vertical-align: central;
    font-size: 14px;
    padding-top: 2px;
    width: 100%;
}


.chirik-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: auto;
    width: 100%;
    margin-left: 8px;
    padding-right: 7px;
}

.input-field {
    min-height: 40px;
    margin-top: 8px;
}

.input-field > input{
    width: 100%;
    outline: none;
    border: 0;
    height: 100%;
}

.chirik {
    word-wrap: break-word;
    padding-top: 1px;
    margin-bottom: 5px;
}

.image {
    overflow: hidden;
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
}

.image > img {
    width: 99%;
    max-height: 300px;
    object-fit: fill;
    vertical-align: middle;
    position: relative;
    border: 1px grey solid;
    border-radius: 20px;
}

.full-screen {
    position: absolute;
    width: 100%;
    height: auto;
    margin: 0;
}

.full-height {
    height: auto;
}

@media only screen and (max-width: 1000px) {
    .ref > a > span {
        display: none;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
}

.ref {
    display: flex;
    flex-direction: column;
}

*.ref > a {
    width: max-content;
    display: flex;
    align-items: stretch;
    margin-top: 8px;
    text-decoration: none;
    color: black;
    border: 0 solid white;
    padding: 10px 20px 10px 10px;
    border-radius: 500px;
}

*.ref > a > span {
    font-size: 20px;
    vertical-align: center;
    font-weight: bold;
}

*.ref > a:hover {
    background-color: rgba(255, 160, 122, 0.3);
    color: tomato;
}

.avatar {
    min-width: 48px;
    height: 48px;
    border: 0 solid grey;
    border-radius: 500px;
}

*.ref > button {
    width: 100%;
    margin-top: 8px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}

.chirik-button {
    font-weight: bold;
    border: 2px solid tomato;
    border-radius: 500px;
    color: white;
    text-align: center;
    background-color: tomato;
}

.chirik-button:hover {
    background-color: #e2583b;
    border-color: #e2583b;
}

.active {
    color: tomato;
}

.inside {
    position: relative;
}

.centered {
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
}

.navigation {
    overflow: auto;
    height: 100%;
    width: 100%;
    margin-left: 10px;
}

.icon {
    font-size: 24px;
    margin-right: 15px;
    vertical-align: bottom;
}

.show {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    width: inherit;
    color: tomato;
}

.bold{
    font-weight: bold;
}

.show:hover {
    background-color: rgba(255, 160, 122, 0.3);
}

.about{
    width: 80%;
    padding-left: 13px;
    font-size: 12px;
    color: gray;
}

.search{
    padding: 12px 10px 12px 10px;
    flex-direction: row;
}

.search > label{
    padding-right: 5px;
    width: max-content;
}

.search > input{
    width: min-content;
    outline: none;
    border: 0;
    height: 100%;
    background-color: initial;
}

.hashtag{
    color: tomato;
}

.top-content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.top-content > div{
    margin: 15px 10px 0 10px;
    font-size: 18px;
    color: white;
}

.sort{
    padding: 1px 3px 0 2px;
}

.sort:hover{
    border: 0 white solid;
    border-radius: 15px;
    background-color: rgba(255, 160, 122, 0.3);
}

.logo{
    padding-top: 12px;
    font-size: 25px;
    padding-left: 7%;
    color: white;
}
.logo > span{
    text-align: right;
}
